extends layout

block header
  div.Header.Header--bordered
    div.Box.Box--transparent.Box--snap
      div.Box.Box--transparent
        span.Header-heading
          each result, i in locals.name.split(' ')
            h1= result
      div.Box.Box--transparent
        span.Header-info Fun with the Web
      div.Box.Links
        a.Links-social(href=locals.github, target='_blank', title='GitHub')= 'Q'
        a.Links-social(href=locals.twitter, target='_blank', title='Twitter')= 'a'
        a.Links-social(href='mailto:' + locals.email, title='Email')= '@'
        a.Links-social(href='/feed.xml')= ','

block content
  include author
  each article in articles
    div.Box.Box--transparent
      article.Article
        header.Article-header
          h2
            a(href=article.url)= article.title
        div.Article-body.is-active
          | !{article.intro}
        div.Article-date
          span.Date= 'Posted on ' + moment.utc(article.date).format('DD MMMM YYYY')
  div.copy
    | &copy; 2015 Eric McDaniel
